<form (ngSubmit)="signupUser(f)" #f="ngForm">
    <div class="signup">
      <div class="signup__email">
        <input type="email" id="email" class="signup__email-input" name="email" ngModel placeholder="username" />
      </div>
      <div class="signup__password">
        <input type="password" class="signup__password-input" id="password" name="password" ngModel placeholder="password" />
      </div>
      <div class="signup__submit">
        <button type="submit" class="signup__submit-button">Register</button>
      </div>

      <span class="signup__btnround">OR</span>

      <div class="signup__login">
        <a class="signup__login-before"><i class="fas fa-user-plus"></i></a>
        <button class="signup__login-button">Log in</button>
      </div>
    </div>
  </form>