.detail{
    padding: 20px;
    

    &__heading{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        color:var(--color-primary);
        font-size: 3rem;
        margin-bottom: 20px;
    }

    &__event{
        display: flex;
        width : 60%;
        font-size: 1.4rem;
        justify-content: space-between;

        &-place{
            font-weight: 700;
            padding-right: 5px;
        }
    }

    &__image{
        display: flex;
        padding:10px 0;
        img{
            height: 20rem;
            min-width: 40%;
            //max-width: 80%;
            background-size: cover;
        }
    }

    &__data{
        display: flex;
        padding:10px 0;
        font-size: 1.6rem;
        max-height: 12rem;
        overflow-y: hidden;
        text-overflow: ellipsis;
    }
    

    &__external{
        display: flex;
        font-size: 1.4rem;

       
    }
}