<div class="detail__heading">{{newsItem.headline}}</div>
<div class="detail__event">
        <div class="detail__event-place">{{newsItem.place}} : {{newsItem.timestamp.$date | date: 'h:mm:ss a'}}</div>        
        <div class="detail__event-source"><b>Source : </b>{{newsItem.source}}</div>
</div>
<div class="detail__image">
    <img *ngIf="newsItem.imageUrl!=''" [src]="newsItem.imageUrl">
    <img *ngIf="newsItem.imageUrl==''" src="../../../assets/cover-img.jpeg">
</div>
<div class="detail__data">
        {{newsItem.firstPara}}
</div>
 
<div class="detail__external">
        <a [href]="newsItem.articleUrl" class="detail__external-url" target="_blank">Read more</a>
</div>