<!-- <div *ngFor="let item of newsList | filter:searchText | filter:placeFilter:'place'" class="news-card">
  <app-news-card [newsItem]="item"></app-news-card>
</div> -->

<!-- <div>
  <select [(ngModel)]="selectedDate">
    <option *ngFor="let item of dateList">{{item}}</option>
  </select>
</div>

<ul>
  <li *ngFor="let news of newsListDateRange[selectedDate]">
    <a (click)="onNewsSelect(news)">{{news.headline}}</a></li>
</ul>

<app-news-card [newsItem]="selectedNews"></app-news-card> -->
    <main class="news-view">
            <div class="news-list">
                  <div class="news-list__date">
                        <select [(ngModel)]="selectedDate" (ngModelChange)="onSelectedDateChange()">
                                <option *ngFor="let item of dateList">{{item}}</option>
                        </select>
                  </div>
                  <ul class="news-list__items">
                        <li *ngFor="let news of newsListDateRange[selectedDate] | filter:searchText" (click)="onNewsSelect(news)" [class.active]="selectedNews === news">
                          <span >{{news.headline}}</span>
                        </li>                        
                  </ul>
                   
            </div>
            <div *ngIf="selectedNews">
              <app-news-card class="news-details" [newsItem]="selectedNews"></app-news-card>
            </div>
            <div *ngIf="!selectedNews">
              <span class="news-empty">Please select an article</span>
            </div>
    </main>