.news-view{
    background-color:#fff;
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    max-height: 89vh;   
}

.news-list{
    background-color: #fff;
    margin: 0;
    flex: 0 0 25%;
    border-right: var(--line);

    &__date{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:3rem;
        
        border-bottom: var(--line);

        select{
            font-family: inherit;
            font-size: 2rem;
            background-color: var(--color-grey-light-2);
            border: none;
            color: var(--color-primary);
            font-weight: 600;
            padding :0.7rem 2rem;
            border-radius: 10px;
            
            &:focus{
                outline: none;
                background-color: var(--color-grey-light-3);
            }
        }
    }
    
    &__items{
        overflow: auto;
        display: flex;
        flex-direction: column;
        max-height: 72vh;
        
        li{
            padding:20px 10px;
            font-size: 1.5rem;
            font-weight: 600;
            border-bottom: var(--line);
            color:var(--color-primary);
            cursor: pointer;

            &.active{
                color:#fff;
                background-color: var(--color-primary);
            }
        }

        
    }
}

.news-details{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    
}

.news-empty{
    font-size:2rem;
    padding: 20px;
}