
ul{
    margin: 0; 
    padding: 0;
}

*,*::before,*::after{
    box-sizing: inherit;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    margin-top: 7rem;
    display: flex;
    max-height: 89vh;
    
}

.sidebar{
    
    padding: 0 5px;

    background-color: #fff;
    color: var(--color-grey-dark-1);
    flex: 0 0 auto;
    height: 89vh;
    width: 12rem;
    border-right: var(--line);
}

.weather{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-place{
        font-size: 3rem;
    }

    &-temperature{
        font-size: 3rem;
    }

    &-forcast{
        font-size: 2rem;
    }
}