<div class="div-body">
    <div class="container">
        <app-header></app-header>
        <div class="content">
            <div class="sidebar">
                <div class="weather">
                    <span class="weather-place">Panaji</span>
                    <span class="weather-temperature">26 &#8451;</span>
                    <span class="weather-forcast">Rainy</span>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>