<form (ngSubmit)="signinUser(f)" #f="ngForm">
    <div class="login">
      <div class="login__email">
        <input type="email" id="email" class="login__email-input" name="email" ngModel placeholder="username" />
      </div>
      <div class="login__password">
        <input type="password" class="login__password-input" id="password" name="password" ngModel placeholder="password" />
      </div>
      <div class="login__forgotpassword">
        <a href="#" class="login__forgotpassword-link">Forgot Password?</a>
      </div>
      <div class="login__submit">
        <button type="submit" class="login__submit-button">Login</button>
      </div>

      <span class="login__btnround">OR</span>

      <div class="login__signup">
        <a class="login__signup-before"><i class="fas fa-user-plus"></i></a>
        <button class="login__signup-button">Sign Up</button>
      </div>
      <div class="login__facebook">
        <a class="login__facebook-before"><i class="fab fa-facebook"></i></a>
			  <button class="login__facebook-item">Login Using Facbook</button>
      </div>
      <div class="login__google">
        <a class="login__google-before"><i class="fab fa-google"></i></a>
			  <button class="login__google-item">Login Using Google</button>
      </div>
    </div>
  </form>