%inputbox{
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
    -webkit-appearance:none;  
}

%inputfocus{
    outline: none;
    background-color: var(--color-grey-light-3);
}

%socialmediabefore{
    border-radius: 3px 0px 0px 3px;
    color: #f4f4f4;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

%socialmediaItem{
    border: none;
    border-radius: 0px 3px 3px 0px;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 250px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 89vw;
    height: 100%;
    background: #fff;
    color: #5a5656;
    font-size: 1.5rem;
    padding-top: 10px;    
    padding-bottom: 50px;
    &__email{
        width: auto;
        margin-bottom: 10px;
        &-input{
            @extend %inputbox;
            &:focus{
                @extend %inputfocus;
            }
            &:-webkit-autofill{
                background-color: var(--color-grey-light-2) !important;
            }
        }
    }

    &__password{
        width: auto;
        margin-bottom: 10px;
        &-input{
            @extend %inputbox;
            &:focus{
                @extend %inputfocus;
            }
        }
    }

    &__forgotpassword{
        &-link{
            text-decoration: none;
            color: #5a5656;
            font-size: 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__submit{
        &-button{
            background-color: #008dde;
            border: none;
            border-radius: 3px;
            color: #f4f4f4;
            cursor: pointer;
            font-family: inherit;
            height: 50px;
            text-transform: uppercase;
            width: 300px;
            -webkit-appearance:none;
        }
    }

    &__btnround{
        background: #5a5656;
        border-radius: 50%;
        color: #f4f4f4;
        display: block;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
        margin: 30px 125px;
        text-align: center;
        text-transform: uppercase;
        width: 50px;
    }

    &__signup{
        &-before{
            @extend %socialmediabefore;
            background-color: #40bf40;
        }
        &-button{
            background-color:  #66cc66;
            @extend %socialmediaItem;
        }
    }

    &__facebook{
        &-before{
            background: #0064ab;
            @extend %socialmediabefore;
        }
        &-item{
            background: #0079ce;
            @extend %socialmediaItem;
        }
    }

    &__google{
        &-before{
            background: #b52f1f;
            @extend %socialmediabefore;
        }

        &-item{
            background: #dd4b39;
            @extend %socialmediaItem;
        }
    }
}