<!-- <div class="header-container">
    <div class="header-div">
        <span class="header">GOAN<sup>er</sup></span>
    </div>
    <div class="filter-div">
        <select2 [data]="placeList" (valueChanged)="onplaceFilterChange($event)" [options]="selectOptions"></select2>
    </div>
    <div class="container-1">
        <span class=""><i class="fas fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" />
    </div>
</div> -->

<div class="header">
        <div class="header__logo">
            <span class="">GOAN<sup>R</sup></span>
        </div>
        <form action="#" class="header__search">
            <input type="text" class="header__search-input" placeholder="Search news" name="searchText" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()">
            <span class="header__search-icon">
                    <i class="fas fa-search"></i>
            </span>
          
        </form> 
        <div class="header__logout">
            <button type="button" class="header__logout-button" (click)="onLogout()">Logout</button>
        </div>
        
</div>