.header{
    font-size: 3rem;
    height: 7rem;
    background-color: #fff;
    //border-bottom: var(--line);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: var(--line);

    &__logo{
        height: 7rem;
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--color-primary);
        color: #fff;
        padding: 0 5px;
    }

    &__search{
        margin-right: 2rem;
        font-size: 1.5rem;
        flex : 1;
        display: flex;
        align-items: center;
        justify-content: center;


        &-input{
            font-family: inherit;
            font-size: inherit;
            background-color: var(--color-grey-light-2);
            border: none;
            color: inherit;
            padding :0.7rem 2rem;
            border-radius: 100px;
            width:30%;
            transition: all 0.3s;

            &:focus{
                outline: none;
                width: 50%;
                background-color: var(--color-grey-light-3);
            }
    
            &::-webkit-input-placeholder{
                font-weight: 100;
                color: var(--color-grey-light-4);
            }
        }
    }

    &__logout{
        padding: 5px;
        &-button{
            background-color: var(--color-primary);
            border: none;
            border-radius: 100px;
            color: #f4f4f4;
            cursor: pointer;
            font-family: inherit;
            height: 4rem;
            text-transform: uppercase;
            width: 10rem;
            -webkit-appearance:none;
        }
    }
}