:root {
   
    --color-primary: #1f2963;
    --color-primary-light : #3d498c;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

*{
    margin: 0; 
    padding: 0;
    border:0;
}

*,*::before,*::after{
    box-sizing: inherit;
}



html{
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.6;
    
}

body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    background-color:var(--color-grey-light-2);
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: var(--color-grey-light-4);
}
 

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-light);
}